body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header area styles */
.header-area {
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    /* justify-content: center; */
    width: 85%;
    background-color: #161616;
    align-items: center;
    color: white;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.header-info {
    width: 50%;
    padding-top: 80px;
    padding-left: 105px;
    /* padding-bottom: 30px; */
    margin-bottom: 50px;
}

.header-info h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 5em;
    line-height: 80px;
    padding-bottom: 30px;
}

.header-info p {
    font-size: 1.2em;
    padding-bottom: 30px;
}

.watch-live a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-weight: 700;
}

.fa-chevron-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

.header-image img {
    width: 100%;
}

/* main section styles */
.main-section-area {
    width: 85%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 100px;
}

.main-section-container {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-right: 20px;
    padding-bottom: 15px;
}

.options a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-weight: 700;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#blog-page {
    background-color: red;
    color: White;
}

.blog {
    width: auto;
    height: auto;
    border-radius: 10px;
    background-color: aliceblue;
    border: 2px solid lightgray;
}

.blog image {
    width: 100%;
    /* max-width: 400px; */
    height: auto;
}

.blog p {
    /* display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding-left: 20px;
    padding-top: 10px;
}

.blog-info a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    width: 100px;
    height: 32px;
    border-radius: 4px;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
    border: 1.5px solid black;
    background-color: aliceblue;
}

.blog-extra-info {
    display: flex;
    justify-content: space-around;
    color: #434343cc;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer {
    width: 100%;
    background-color: black;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer h2 {
    padding-top: 80px;
    /* text-align: center; */
    font-size: 50px;
    font-weight: 900;
    color: #FAFAFA;
    font-family: 'Lobster', cursive;
    padding-bottom: 80px;
}

hr {
    background-color: rgb(52, 52, 52);
    height: 2px;
    width: 80%;
    margin-bottom: 50px;
    border: none;
}

.navigate-more {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    ;
}

.footer p {
    padding-bottom: 50px;
    color: #FAFAFA;
    /* text-align: center; */
    font-size: small;
}

* {
    padding: 0;
    margin: 0;
}

/* media query */

/* mobile view */
@media screen and (max-width: 600px) {
    .header-area {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        width: calc(80vw);
        background-color: #161616;
        align-items: center;
        color: white;
        border-radius: 20px;
        margin-top: 50px;
        margin-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-image {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .main-section-area {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        gap: 20px;
    }

    .main-section-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .options {
        margin-right: 0px;
    }

    .blog image {
        width: 100%;
        /* max-width: 400px; */
        height: auto;
    }

    .navigate-more {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

}

/* tablet view */
@media screen and (min-width: 601px) and (max-width:991px) {
    .options {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        width: auto;
        height: auto;
        border-radius: 10px;
        margin-right: 20px;
        padding-bottom: 70px;
    }

    .main-section-area {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-section-container {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .options a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        border: 1px solid gray;
        width: 200px;
        height: 50px;
        border-radius: 5px;
        font-weight: 700;
        margin-right: 10px;
    }
}